
body {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */

p, img {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
	outline: 0;
	vertical-align: top;
}
.clear {
	clear: both;
}
#loader {
	display: none;
	height: 24px;
	width: 24px;
	background: url('../img/loader.gif');
}
#searchWrapper {
	width: 600px;
}
.page, .navLink {
	float: left;
	margin: 5px;
	color: #00C;
	cursor: pointer;
}
.active {
	color: red;
	cursor: default;
	text-decoration: none;
}

.result {
	display: inline-block;
	padding: .5em 0;
	border-bottom: 1px solid #EBEBEB;
}
.result img {
	float: left;
	width: 60px;
	height: auto;
	padding: 5px 5px 5px 0px;
}

.container {
	width: 530px;
	float: left;
}
.resultLink {
	color: #00C;
}
.textLink {
	color: green;
}

